
@import "./reset.css";

:root {
  --primary-color: black;
  --secondary-color: #6a6a6a;
  --primary-bg-color: #fff2f2;
  --secondary-bg-color: white;

  --font-primary: "Inter";
  --font-secondary: "arial";
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

.logo{
  font-family: 'Dancing Script';
}
.page-container {
  max-width: 60rem;
  margin: 10px auto;
}
/* End of page container */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.navigation > nav > ul {
  display: flex;
  column-gap: 20px;
}

.navigation > nav > ul > li {
  list-style: none;
}

.navigation > nav > ul > li > a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-family: 'Playfair Display';
}

/* End of navigation */
.hero-section-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-section-container > div:first-child {
  align-self: center;
}
.hero-section-container div h1{
  font-size: 50px;
}
.hero-section-container div p{
  color: #6a6a6a;
  font-size: 25px;
}
.hero-section-container div button{
  width: 40%;
  padding: 10px;
  margin-top: 10px;
  background-color: #F86262;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero-section-container > div:last-child > div {
  max-width: 400px;
}

/* End of hero section */

.icon img{
  max-width: 30px;
}
.top-section h1:first-child{
  text-align: center;
  font-size: 30px;
  font-family: 'Playfair display';
  margin-bottom: 2rem;
}
.quality-wrapper {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.quality-card {
  background-color: white;
  padding: 24px;
  width: calc(100% - 48px);
  border-radius: 9px;
  border: none;
  box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
}
/* End of top Quality section  */

.feature-photo h1{
  text-align: center;
  font-size: 30px;
  font-family: 'Playfair display';
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 5px; */
}

.grid-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
}

.grid-item img {
  display: block;
  max-width: 100%;
  /* height: auto; */
  padding-top: 0.5rem;
}
.grid-item:last-child img {
  height: 100%;
}


form{
  max-width: 400px;
  margin: 0 auto;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
}
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
  margin-top: 30px; 
  padding-top: 5rem;
}

.form-container div:first-child {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.form-container div p{
  font-size: 50px;
  font-family: 'playfair Display';
  font-weight: bold;
  
}
.form-container div h1{
  text-align: left;
  font-size: 76px;
  color: #F86262;
}
form {
  display: grid;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 60px; 
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
}

form input,textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}
form button {
  width: 100%;
  padding: 10px;
  background-color: #F86262;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover {
  background-color: #f77171;
}
 /* End of proposal form section  */

.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5rem;
  margin-bottom: 3rem;
}

.footer-container div:first-child{
  font-family: 'Playfair Display';
  font-weight: 700;
}

.footer-container div nav ul{
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
}

.footer-container div nav ul li{
  list-style: none;
}

.footer-container div nav ul li a{
  text-decoration: none;
  color: black;
  font-family: 'Playfair Display';
}
/* End of Footer  */
